.popover-container {
  width: 250px;
}

.popover-header {
  display: flex; 
  padding: 10px 15px; 
  border-bottom: 1px solid #d3d3d3; 
  font-weight: 500; 
  align-items: center; 
  justify-content: space-between;
}

.popover-content {
  margin: 5px 0;
}

.popover-content ul li {
  margin-top: 5px;
  padding: 0 8px;
}

.popover-content ul li:hover {
  cursor: pointer;
  color: #1890ff;
  background-color: #e4e4e4;
}

.popover-content h4 {
  font-weight: 500;
  color: #5e6c84;
}

.popover-last-child-delete {
  border-top: 1px solid #e4e4e4;
  font-weight: 500;
  color: #ef3e44;
}

.popover-icon-invisible {
  visibility: hidden;
}

.member-content {
  padding: 10px 8px;
  border-bottom: 1px solid #d3d3d3;
}

.member-content div:nth-child(1) {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}

.popover-btn {
  color: inherit;
  font-size: 14px;
  padding: 0px 6px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.popover-btn:hover {
  border: 1px solid grey;
  cursor: pointer;
}

.popover-btn-icon {
  position: relative;
  top: 1px;
  right: 3px;
}

.icon-hidden {
  visibility: hidden;
}
