.login-container,
.register-container,
.forgot-container {
  margin: auto;
  padding: 25px 35px;
  height: fit-content;
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
  box-sizing: border-box;
}

.login-header,
.register-header,
.forgot-header {
  text-align: center;
  padding: 0 0 20px 0;
}

.login-header h3,
.register-header h3,
.forgot-header h3 {
  color: #536c84;
  padding: 2px 0;
  margin: 10px 0;
  line-height: 1;
}

.login-header h3:nth-child(2),
.forgot-header h3:nth-child(2) {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}

.login-footer,
.register-footer,
.forgot-footer {
  padding-top: 16px;
  margin-top: 32px;
  border-top: 1px solid #d5d8de;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.login-footer ul {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.login-footer .dot {
  margin: 0 8px;
}

.register-footer-link,
.forgot-footer-link {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.forgot-password-email:hover {
  cursor: pointer;
}

/*
  * override antd disabled text color opacity
*/

.form-input-email .ant-input[disabled] {
  color: rgba(0, 0, 0, 0.6);
}

/*
  * override antd success status message
*/

.ant-form-item-explain {
  color:  rgba(0, 0, 0, 0.8);
}