/******************************************************************************
 * Loading
******************************************************************************/

.loading-dual-ring {
  /*display: inline-block;*/
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.loading-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: red transparent red transparent;
  animation: loading-dual-ring 1.2s linear infinite;
}

@keyframes loading-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  color: #333;
  font-size: 6em;
  display: flex;
}

.loading span {
  animation: animate 4s linear infinite;
}

.loading span:nth-child(1) {
  animation-delay: 0s;
}

.loading span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading span:nth-child(6) {
  animation-delay: 0.5s;
}

.loading span:nth-child(7) {
  animation-delay: 0.6s;
}

.loading span:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes animate 
{
  0%
  {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 80px #00b3ff,
                0 0 120px #00b3ff,
                0 0 200px #00b3ff,
                0 0 300px #00b3ff,
                0 0 400px #00b3ff;
  },
  25%, 75%
  {
    color: #000;
    filter: blur(0px);
    text-shadow: none;
  }
}