#root {
  height: 100%;
}
.app {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
}
.dashboard {
  height: 100%;
  width: 100%;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

/******************************************************************************
 * Fixed Top Bar
******************************************************************************/

.fixedTB {
  text-align: center;
  background: #ecedef;
  font-size: 18px;
  line-height: 26px;
  padding: 5px 0;
  font-weight: 400;
  height: fit-content;
  /*background-color: #484848;*/ /*#201d26;*/
  /*overflow: auto;*/
  /*border-bottom: 1px solid #6e6e76;*/
  display: flex; 
  justify-content: space-between;
}

.fixedTB-left h1 {
  /*color: #f0f2f5;*/ /* #d8d8d8; */
  color: #6a6b60;
  margin: 0 20px;
  font-weight: 400;
  font-size: 20px;
}

.fixedTB-left h1:hover {
  cursor: pointer;
}

.fixedTB-left {
  display: flex; 
  justify-content: flex-start; 
  align-items: baseline;
}

.fixedTB-popover-list {
  display: flex;
  flex-direction: row;
}

.fixedTB-right {
  color: inherit;
  align-self: center;
  margin-right: 15px;
}

.header-add-icon-container {
  font-size: 14px;
  font-weight: 400;
}

/******************************************************************************
 * Content - Body of Dashboard
******************************************************************************/

.content {
  height: 100%;
  /*border: 1px solid black;*/
}

.content-header {
  margin-left: 0.5rem;
  padding-top: 5px;
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  width: 100%;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}

.add-collab-btn:hover {
  background-color: grey;
}

.content-section {
  padding: 0 15px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  /*min-height: 100px;*/
}

.content-column {
  /*border: 1px solid grey;*/
  padding: 10px;
  /*background-color: #dcdcdc;*/
  min-width: 280px;
  width: 300px;
  /*height: 700px;*/
}

.content-col-add-container {
  background: #e4e4e4; 
  padding: 10px; 
  border-radius: 5px;
}

.createboard-container {
  margin: 15em auto 0px; 
  text-align: center; 
  width: 50%; 
  padding: 15px;
}

.createboard-container h3 {
  font-size: 18px;
  font-weight: 500; 
  color: #5e6c84; 
  margin: 10px 0;
}
/*.add-collab-btn {
  color: #484848;
  font-size: 14px;
  border: 1px solid #484848;
  padding: 3px 7px;
  border-radius: 5px;
}*/

.add-collab-board-title-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.add-collab-input {
  width: 100%;
}

.addcollab-options {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: .05em solid #777;
  width: 100%;
  left: 0;
  top: calc(100% + .25em);
  background-color: white;
  z-index: 100;
}

.addcollab-options.show {
  display: block;
}

.addcollab-option {
  padding: .25em .5em;
  cursor: pointer;
}

.addcollab-option:hover {
  background-color: #e4e4e4;
}

.add-collab-user-list {
  margin: 6px;
  padding: 5px;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.add-collab-user-list:hover {
  /*background-color: #dcdcdc;*/
  cursor: pointer;
}

.add-collab-feedback-color {
  color: red;
}

/******************************************************************************
 * Board Details Modal
******************************************************************************/
.add-collab-btn {
  padding: 4px 15px;
  border-radius: 2px;
  font-size: 15px;
}

.title-btn:hover, .add-collab-btn:hover {
  border: 1px solid #dedede;
  background-color: #dedede;
  cursor: pointer;
}

.board-title, .add-collab-btn {
  font-weight: 500;
  /*font-size: 1.1em;*/
}

.board-row {
  border: 1px solid #dedede;
  margin: 10px 0;
  padding: 8px;
}

.board-row .title {
  background-color: #dedede;
  padding: 2px 5px;
  font-weight: 500;
}

.board-row-content {
  padding: 10px;
}


/******************************************************************************
 * Form
******************************************************************************/

.form-item {
  margin: 0;
}

.title-input {
  font-weight: 500;
  padding: 2px 10px;
  line-height: 1.2715;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: 0 0 0 2px transparent;
}

.title-input:focus {
  border: 1px solid #40a9ff;
  background-color: white;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}

.title-input:hover {
  cursor: pointer;
  background-color: #e4e4e4 !important;
}

.board-title-input {
  font-size: 20px;
  border: 1px solid #dedede;
  background-color: white;
}

.list-title-input {
  font-size: 16px;
}

.taskcard-details-title-input {
  font-size: 18px;
}

.form-textarea {
  background-color: #eaecf0;
  color: #172b4d;
  border: none;
}

.add-list-form-item {
  width: 100%;
}

.add-list-form-item-btn {
  margin-top: 16px;
}


/******************************************************************************
 * Boards
******************************************************************************/

.boardlist-container {
  margin: 55px auto 0px;
  width: 60%;
  padding: 30px 20px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.boardlist-container h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.boardlist-ul {
  margin-top: 10px;
}

.boardlist-ul li {
  line-height: 2;
  padding: 6px 12px;
  border-radius: 3px;
  color: #172b4d;
  background-color: #091e420a;
  margin: 15px 0px;
  font-weight: 600;
  min-width: max-content;
  border: 1px solid #091e420a;
}

.boardlist-ul li:hover {
  cursor: pointer;
  border: 1px solid #696969;
}

.boardlistdropdown-container {
  margin: 25px auto 0;
  width: 75%;
}

.boardlistdropdown-container h2 {
  font-size: 16px; 
  font-weight: 600; 
  margin: 10px 0; 
  color: #484848;
}

.boardlistdropdown-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.boardlistdropdown-li {
  margin: 0 2% 2% 0;
  transform: translate(0);;
  width: 18.5%;
  cursor: pointer;
}

.boardlistdropdown-tile {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  position: relative;
  background-color: #e4e4e4;
  border-radius: 3px;
  color: #696969;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
  box-shadow: 0 1px 0 #091e4240
}

.boardlistdropdown-tile:hover {
  background-color: #cdcdcd;
}

.boardlistdropdown-tile span {
  padding: 10px 0px 25px 10px;
  word-wrap: break-word;
}

/******************************************************************************
 * TaskList
******************************************************************************/

.tasklist-container {
  background-color: #e4e4e4;
  padding: 10px;
  border-radius: 5px;
}

.tasklist-addtask-top-pos {
  max-height: 100%;
}

.tasklist-header-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.tasklist-footer {
  font-size: 14px;
  line-height: 24px;
  padding: 0px;
  margin-top: 5px;
}

/******************************************************************************
 * TaskCard
******************************************************************************/

.taskcard-container {
  box-shadow: 0 1px 0 #091e4240; 
  border-radius: 3px; 
  margin-right: 3px;
  padding: 5px;
}

.taskcard-priority-wrapper {
  font-weight: bold;
  font-size: .7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskcard-priority-indicator {
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  width: 8px;
  height: 8px;
}

.priority-active {
  color: red;
}

.priority-active-border {
  border: 1px solid red;
}

.priority-hidden {
  visibility: hidden;
}

.taskcard-body {
  padding: 5px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.taskcard-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.taskcard-body:hover, 
.taskcard-body:hover > .taskcard-edit-icon {
  cursor: pointer;
  background-color: #e0e0e0;
  visibility: visible;
}

.taskcard-edit-icon {
  visibility: hidden;
}

.taskcard-footer {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.taskcard-footer > p {
  padding: 0 5px;
  font-size: 12px; 
  line-height: 24px; 
  color: #696969; 
}

.add-task-btn {
  padding: 3px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid transparent;
}

.add-task-btn:hover {
  cursor: pointer;
  background-color: #C0C0C0;
  border: 1px solid #C0C0C0;
  color: black;
}

.modal-container {
  height: fit-content; 
  /*background-color: #f4f5f7;*/
  /*padding: 16px;*/
}

.modal-header {
  width: 96%;
  padding: 0;
}

.modal-title p {
  padding: 0 10px;
}

.modal-title p span {
  text-decoration: underline;
  font-weight: 600;
}

.modal-body {
  display: flex;
}

.modal-body .left {
  width: 75%;
  padding: 10px;
}

.modal-body .left section h3 {
  color: #172b4d; 
  font-weight: 600; 
  font-size: 16px; 
  margin-bottom: 10px;
}

.modal-section-list {
  border-left: 2px solid #e4e4e4; 
  padding-left: 5px;
}

.modal-section-list p:nth-child(1) span {
  font-weight: 500;
}

.modal-section-body p:nth-child(2) {
  font-size: 12px;
}

.modal-body .right {
  color: #5e6c84;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  width: 25%;
}

.modal-body .right h4 {
  padding-left: 10px;
}

.tasklist-popover-dropdown-overlay {
  font-weight: 500;
  background-color: #e4e4e4;
  padding: 0px 5px;
  border-radius: 3px;
}

.taskcard-detail-actions-list {
  padding: 3px;
}

.taskcard-detail-actions-list li {
  cursor: pointer;
  margin: 5px;
  padding: 3px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid #eaecf0;
  background-color: #eaecf0;
}

.taskcard-detail-actions-list li:hover {
  border: 1px solid #e4e4e4;
  background-color: #e4e4e4;
}


/******************************************************************************
 * Icons
******************************************************************************/

.icons:hover {
  cursor: pointer;
  color: #a9a9a9;
}

.icon-more:hover {
  cursor: pointer;
  color: darkgray;
}

.taskcard-icon {
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 3px;
}

.exclamation-outlined:hover {
  border: 1px solid red;
  border-radius: 50%;
  color: red;
}

.delete-icon:hover {
  border: 1px solid #f81d22;
  padding: 2px;
  border-radius: 3px;
  color: #f81d22;
}

.minus-icon:hover {
  color: #f81d22;
}

.crown-icon:hover {
  color: #228C22;
  cursor: pointer;
}

.edit-outlined-icon:hover {
  border: 1px solid #096dd9;
  padding: 2px;
  border-radius: 3px;
  color: #096dd9;
}

.right-arrow-icon:hover {
  border: 1px solid #008000;
  padding: 2px;
  border-radius: 3px;
  color: #008000;
}

.add-task-close-icon {
  margin-left: 15px;
}

.user-outlined-icon {
  border-radius: 50%;
  border: 1px solid #6a6b60;
  padding: 5px;
}

/*******************************************************************************
 * antd overrides
*******************************************************************************/
.ant-row {
  flex-flow: inherit;
}

.ant-card {
  margin: 10px 0;
}

.ant-card-body {
  padding: 0;
}

.ant-card-actions {
  border-radius: 5px;
}

.ant-card-actions > li {
  margin: 1px 0!important;
}

.ant-input::placeholder {
  color: black;
}

.ant-menu-item:hover, .ant-menu-submenu:hover {
  /*background-color: #e4e4e4;*/
}

.ant-popover-inner-content {
  padding: 8px;
  color: #5e6c84;
  /*border: 1px solid red;*/
  border-radius: 3px;
}

.admin-board-list {
  padding: 5px;
}

.admin-board-list:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

/******************************************************************************
 * Footer
******************************************************************************/
.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgrey;
}